.products{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}