.product{
    background-color: #2c2c2c;
}

.product > img{
    width: 100%;
    height: 300px;
}

.product__details{
    padding: 10px;
}
.product__title{
    color: white;
    margin: 0px;
}
.product__desc{
    color: white;
    line-height: 12px;
    font-size: 13px;
}

.price{
    color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rate{
    color: yellow;
    margin-bottom: 10px;
}

.product__btn{
    padding: 5px 7px;
    margin: 5px 0px;
    border-radius: 10px;
    transition: 0.5s;
    color: grey;
}
.btn:hover{
    background-color: yellow;
    color: black;
}