:root {
  --border-radius: 0.6rem;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #4c4c4c;
}

img {
  width: 100%;
  height: 15rem;
}

.btn {
  border: none;
  padding: 0.2rem;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  max-width: 10rem;
  margin-top: .5rem;
  /* color: rgb(195, 154, 77); */
  color: white;
  padding: .7rem 1.4rem;
  background: green;
}

.btn:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 1rem 0;
  color: white;
  font-size: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}
.product {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  border-radius: .6rem;
  -webkit-border-radius: .6rem;
  -moz-border-radius: .6rem;
  -ms-border-radius: .6rem;
  -o-border-radius: .6rem;
}
.product:hover {
  cursor: pointer;
}
.product__img {
  /* object-fit: cover; */
  display: inline-block;
  margin: 0 auto;
  width: calc(100% - 2rem);
  margin-bottom: 1rem;
  border-radius: .35rem;
  -webkit-border-radius: .35rem;
  -moz-border-radius: .35rem;
  -ms-border-radius: .35rem;
  -o-border-radius: .35rem;
}
.product__details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 300;
}

.product__desc {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.product__title {
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
.product__price {
  color: orange;
}
.product__rating {
  color: orange;
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
