@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200;500&family=Rubik+Moonrocks&display=swap');

font-face{
font-family: 'Dosis', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Anton', sans-serif;
}


:root {
  --border-radius: 0.6rem;
  /* --text-color: #fff; */
  --text-color:black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #4c4c4c; */
  background-color: rgb(253, 235, 235);
}

img {
  width: 90%;
  height: 15rem;
}

.btn {
  border: none;
  padding: 0.2rem;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  cursor: pointer;
  width: 5rem;
  color: rgb(195, 154, 77);
}

.btn:hover {
  background-color: orange;
  color: black;
}
.bdcol{
  color: red;
}
.title {
  text-align: center;
  margin: 1rem 0;
  color: rgb(123, 91, 91);
  font-family: Rubik Moonrocks;
  font-weight: 200;
  font-size: 3.5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 0.5rem;
   
}
.product {
   background-color: white;
  box-shadow: 2px 4px 4px grey;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  
}
.product:hover{
  box-shadow: 2px 4px 4px black;
}

.product_details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;
}

.product_desc {
  font-family: Dosis, sans-serif ;
  font-weight: 400;
  font-size: .85rem;
  color: rgb(74, 58, 58);
  text-align: justify;
  }
.product_title {
  color:black;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  font-size: .90rem;
}
.product_price {
  color: rgb(131, 88, 7);
  font-family: Dosis, sans-serif ;
  font-weight: 400;
}
.product_rating {
  color: rgb(148, 150, 10);
  font-family: Dosis, sans-serif ;
  font-weight: 400;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
