:root {
  --border-radius: 0.6rem;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #4c4c4c;
}

img {
  width: 100%;
  height: 15rem;
}

.btn {
  border: none;
  padding: 0.2rem;
  border-radius: var(--border-radius);
  transition: all 0.3s;

  width: 5rem;
  color: rgb(195, 154, 77);
}

.btn:hover {
  background-color: orange;
  color: black;
}

.title {
  text-align: center;
  margin: 1rem 0;
  color: white;
  font-size: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 0.5rem;
}
.product {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
}
.product__img {
}
.product__details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;
}

.product__desc {
  font-size: 0.8rem;
  color: white;
  font-family: fantasy;
}
.product__title {
  color: white;
  font-family: 'Roboto', sans-serif;
}
.product__price {
  color: orange;
}
.product__rating {
  color: orange;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
